<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCM37OjdZH0VeCJB601QLPG9BA4ggGmELM</string>
	<key>GCM_SENDER_ID</key>
	<string>608882373520</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.enj.BrainPlayTrio</string>
	<key>PROJECT_ID</key>
	<string>brainplay-trio</string>
	<key>STORAGE_BUCKET</key>
	<string>brainplay-trio.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:608882373520:ios:0836806e4b927411663915</string>
</dict>
</plist>